.hidden {
  display: none;
}

.fixed-action-btn {
  position: fixed;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
  bottom: 135px;
  right: 14px;
}

.whatsapp {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
  bottom: 75px;
  right: 14px;
}

.show li:target {
  visibility: visible;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 57px;
  height: 57px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-floating-whats {
  display: inline-block;
  color: #fff;
  overflow: hidden;
  z-index: 999;
  width: 57px;
  height: 57px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
  background-color: #01d14c;
  border-color: #01d14c;
}

.btn-floating.btn-large i {
  line-height: 56px;
  font-size: 30px;
}

.btn-floating-whats.btn-large i {
  line-height: 56px;
  font-size: 30px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  line-height: 40px;
}

.btn-floating-whats i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  line-height: 40px;
}

.fixed-action-btn1 {
  -webkit-transform: translateY(-50%);
  transform: translateY(0em);
  width: 0px;
}

.fixed-action-btn1 a {
  margin-bottom: 15px;
  margin-left: -250px;
}

.telefone {
  background-color: #00d058;
  padding: 18px 26px 20px;
  border-radius: 20px;
  color: #ffff;
  font-weight: 800;
  font-size: 1em;
  opacity: 1;
}

.btn-floating1.btn-info {
  text-decoration: none;
}

.telefone i {
  font-size: 2ch;
}

.telefone span {
  background-color: #339c60;
  font-weight: 800;
  position: absolute;
  margin: 26px -40px;
  padding-left: 18px;
  line-height: 18px;
  font-size: 0.5em !important;
  padding-right: 13px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
@media screen and (max-width:575px){
  .whatsapp {
    bottom: 67px;
    right: 10px;
  }
  .fixed-action-btn {
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
    bottom: 128px;
    right: 10px;
  }
  .telefone span {
    margin: 26px -41px;
  }
  .telefone {
    padding: 20px 27px 20px;
  }
  #copyright-hoogli {text-align: center;}
  .text-copy {
    text-align: center !important;
}
}

#popupModal .title {
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2364a1;
}

#popupModal .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}

#popupModal .modal-body {
    padding: 20px;
}

#popupModal .modal-dialog p {
    font-size: 18px;
    line-height: 28px;
    color: #656565; 
    margin-bottom: 3rem;
}

#popupModal a {
    display: inline-block;
    background-color: 2364a1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s all;
}

